*{
    font-family: 'Rajdhani', 'Roboto Condensed', sans-serif;
} 

:root{
    --title:'Rajdhani', sans-serif;
    --subtitle:'Roboto Condensed', sans-serif;
    --color-1:#4892ca;
    --color-2:#036156;
    --color-3:#0b2e49;
    --color-4:#cecece;
    --letra-l:'22px';
    --letra-s:'10px';
    --letra-m:'17px';
    --color-active:orange;
}


.title{
    font-family:var(--title) ;
    font-size: var(--letra-l);
    color: var(--color-1);
}
.subtitle{
    font-family: var(--subtitle);
    font-size: var(--letra-m);
}

header{
    width: 100vw;
    height: 25vh;
    background-color: var(--color-1);
}

h1{
    font-size: 35px;
    color: var(--color-3);
}

/* Inicio de informacion*/

.info {
    padding-left: 20px;
    padding-top: 8px;
    width: 240px;
    height: 30px; 
    position: absolute;
    right: 10px;
    border: 1px solid var(--color-4);
    
    }

.info ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.info ul li {
    padding-left:10px;
    padding-right: 10px;
    float: left;
}

.info ul li a{
    text-decoration: none;
    color:var(--color-4);
    font-weight: bold;
}

.info ul li a:hover{
    color:var(--color-3)
}

/* Fin de Informacion*/

aside{
   width: 100vw;
   border: 1px solid var(--color-3);
   background-color: var(--color-2);
}


/* Inicio del Menu*/
.menu {
     font-size: 18px;
     height: 50px; 
     padding-top: 20px;
     padding-left: 450px;
    }

.menu ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

.menu ul li {
    padding-left:10px;
    padding-right: 10px;
    border-right: 1px solid var(--color-4);
    border-left:1px solid var(--color-4);
    float: left;
}

.menu ul li a {
    text-decoration: none;
    color: var(--color-1);
}

.menu ul li a:hover {
    color: var(--color-3);
}

/* Fin del MENU*/



/* Cuerpo Principal*/

main{
    /* float: left;*/
     width: 100vw;
     height: 70vh;
     border: 1px solid #000000;
    background-color: var(--color-1);
    
 }

 article{
     margin-top: 50px;
 }

 .arti1{
    background-color: var(--color-2);
    width: 500px;
    margin-left: 100px;
 }

 .arti2{
    background-color: var(--color-2);
    width: 500px;
    margin-left: 300px;
 }

 .arti3{
    background-color: var(--color-2);
    width: 500px;
    margin-left: 500px;
 }

 .arti4{
    background-color: var(--color-2);
    width: 500px;
    margin-left: 700px;
 }




/* Fin de Cuerpo Principal*/

footer{
    width: 100vw;
    height: 15vh;
    background-color: var(--color-2);
}


button{
    border: none;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px 10px 20px 20px;
}