*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.container{
display: grid;
/* grid-template-columns: 4fr 1fr; */
grid-template-areas: 'header header '
                    'main  aside '
                    'footer aside';
height: 100vh;
                   
}


header{
    display: flex;
    align-items: center;
     background-color: aquamarine;
   
}

.logo{
width: 80px;
background-color: red;
border: 1px solid red;
height: 70px;
margin: 30px;
}

main{
       background-color: blue;
       height: 80vh;
       display: grid;
       row-gap: 14px;
       
}

aside{
        background-color: red;
}

footer{
    height: 20vh;
      background-color: aqua;
}


header{
    grid-area:header;
   
}
main{
    grid-area: main;
    
}
aside{
    grid-area:aside;
}
footer{
    grid-area: footer;
       
}

.tarjeta1{
     display: grid;
    border: 1px solid red;
    width: 25%;

}

.tarjeta2{
    display: grid;
    border: 1px solid red;
    width: 25%;
    
}
.tarjeta3{
    display: grid;
    border: 1px solid red;
    width: 25%;
    
}
.tarjeta4{
    display: grid;
    border: 1px solid red;
    width: 25%;
    
}