*{
    font-family: 'Rajdhani', 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
    } 

:root{
    --title:'Rajdhani', sans-serif;
    --subtitle:'Raleway', sans-serif;
    --color-1:#4892ca;
    --color-2:#036156;
    --color-3:#0b2e49;
    --color-4:#cecece;
    --letra-l:'22px';
    --letra-s:'10px';
    --letra-m:'17px';
    --color-active:orange;
}


.title{
    font-family:var(--title) ;
    /* font-size: var(--letra-l); NO FUNCIONA*/
    font-size: 25px;
    color: var(--color-1);
    padding: 10px;
}
.subtitle{
    font-family: var(--subtitle);
    font-size: var(--letra-m);
}


header{
    background-color: var(--color-3);
    width: 100%;
    height: 50px;
   }

   /* Inicio de informacion*/

.info {
    padding-left: 20px;
    padding-top: 5px;
    width: 240px;
    height: 30px; 
    position: absolute;
    right: 10px;
    top: 10px;
      
    }

.info ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.info ul li {
    padding-left:10px;
    padding-right: 10px;
    float: left;
}

.info ul li a{
    text-decoration: none;
    color:var(--color-4);
    font-weight: bold;
}

.info ul li a:hover{
    color:var(--color-3)
}

/* Fin de Informacion*/
  
  
body{
       background-color:var(--color-2) ;
   }
main{
       background-color:var(--color-1);
       width: 70%;
       float: left;
       padding:10px;
   }
main img{
       max-width: 100%;  
       border:2px solid var(--color-4);
       border-radius: 10px;
       padding: 10px;
   }
main section{
       padding: 30px;
   }
main section p{
       text-align: justify;
       margin-bottom: 16px;
       line-height: 200%;
   }
main section h1{
       margin-bottom: 20px;
       font-size:1.6em;
   }
aside{
       width: 21%;
       float: left;
       padding: 30px;
       background-color:var(--color-2);
   }
    
aside ul li{
       text-decoration: none;
       color: var(--color-4);
       list-style-type: none;
       margin-bottom: 16px;
       border-bottom: 1px solid var(--color-3);
   }
aside ul li:hover{
       color: var(--color-3);
   }
aside h2{
       margin-bottom: 16px;
   }
footer{
       width: 100%;
       background-color:var(--color-3);
       clear: both;
       padding: 60px;
   }