*{
    font-family: 'Rajdhani', 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
    } 

:root{
    --title:'Rajdhani', sans-serif;
    --subtitle:'Raleway', sans-serif;
    --color-1:#4892ca;
    --color-2:#036156;
    --color-3:#0b2e49;
    --color-4:#cecece;
    --letra-l:'22px';
    --letra-s:'10px';
    --letra-m:'17px';
    --color-active:orange;
}

/* Inicio Titulo */
.title{
    font-family:var(--title) ;
    /* font-size: var(--letra-l); NO FUNCIONA*/
    font-size: 35px;
    color: var(--color-1);
    padding: 10px;
   }

.title:hover{
    color:var(--color-active);
    padding: 7px;
}
/* Fin Titulo */

/* Inicio de subtitle */
.subtitle{
    font-family: var(--subtitle);
    font-size: var(--letra-m);
}
.subdestacado:hover{
    font-weight: bold;
    background-color: var(--color-active);
    padding: 6px;
    width: 130px;
}    
/*FInd de subtitle */

p::after{
    content: " - Fin del parrafo";
    font-style: italic;
    color: var(--color-2);
    font-weight: bold;
}


ul li:first-child{
    font-size: 1.5em;
    color:var(--color-1);
    font-weight: bold;
}


header{
    background-color: var(--color-3);
    width: 100%;
    height: 70px;
   }

   

 /* Inicio del segundo menu */
 #menu{
    margin-top: 15px;
    position: absolute;
    right: 80px;
    top:0;
    color: var(--color-4);
}

#menu ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    
}

#menu ul a{
    display: block;
    color:var(--color-4);
    text-decoration: none;
    padding: 0px 15px;
    line-height: 32px;
}
#menu ul li{
    position: relative;
    float: left;
    margin: 0px;
    padding: 0px;
}
    
#menu ul ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color-1);
    padding: 0px;
}
#menu ul ul li{
    float: none;
    width: 200px;
}
#menu ul ul a{
    padding: 10px 15px;
}
#menu ul li:hover > ul{
    display: block;
}
#menu ul li:hover{
    background-color:var(--color-1);
      
}

#menu ul ul a:hover{
    color:var(--color-3);  
}
 /* Fin del menu */

  
body{
       background-color:var(--color-2) ;
   }
main{
       background-color:var(--color-1);
       width: 70%;
       float: left;
       padding:10px;
   }
main img{
       max-width: 80%;  
       border:2px solid var(--color-4);
       border-radius: 10px;
       padding: 10px;
   }
main section{
       padding: 30px;
   }
main section p{
       text-align: justify;
       margin-bottom: 16px;
       line-height: 200%;
   }
main section h1{
       margin-bottom: 20px;
       font-size:1.6em;
   }
aside{
       width: 21%;
       float: left;
       padding: 30px;
       background-color:var(--color-2);
   }
    
aside ul li{
       text-decoration: none;
       color: var(--color-4);
       list-style-type: none;
       margin-bottom: 16px;
       border-bottom: 1px solid var(--color-3);
   }
aside ul li:hover{
       color: var(--color-3);
   }
aside h2{
       margin-bottom: 16px;
   }
footer{
       width: 100%;
       background-color:var(--color-3);
       clear: both;
       padding: 60px;
   }
